[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ben Vandenberg
	email = 36287081+BenPVandenberg@users.noreply.github.com
	signingkey = 57CFB113372D6E58
[core]
	longpaths = true
	editor = code --wait
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
